@import '../common/_const.scss';

.home_wrap {
    .topbar {
        height: 100%;
        .bar {
            height: calc(100% - 20px);
            display: flex;
            align-items: center;
            // justify-content: space-between;
            padding: 10px 35px;
        }
        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
        a {
            margin-left: 20px;
        }
    }
    .line {
        height: 20px;
        width: 100%;
        background-color: #eee;
        box-shadow: inset 0 0px 3px #b9b9b9;
    }
}