@import '../common/_const.scss';

.home_wrap {
    .topbar {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px;
        // border-bottom: 2px solid $color-red;
        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
        a {
            margin-left: 20px;
        }
    }
}