/* 
* @Author: nooldey 
* @Author-Email: <nooldey@gmail.com> 
* @Date: 2018-01-23 14:56:10 
 * @Last Modified by: nooldey
 * @Last Modified time: 2018-02-27 16:01:04
* @Description: 通用样式变量
*/

/* font */
$font-size: 14px;
$font-color: #333;
$font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;

/* layout */
$topbar-height: 45px;
$topbar-color: #f2f2f2;
$topbar-bg: #353535;
$navbar-color: #555;
$navbar-bg: #495060;

/* color */

$color-red: #ff1100;