/* 
* @Author: nooldey 
* @Author-Email: <nooldey@gmail.com> 
* @Date: 2018-01-23 14:56:10 
 * @Last Modified by: nooldey
 * @Last Modified time: 2018-02-28 11:24:46
* @Description: 通用样式变量
*/

/* font */
$font-size: 14px;
$font-color: #333;
$font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;

/* layout */
$topbar-height: 80px;

/* color */

$color-red: #ff1100;